
img{
    width: 50%;
}

body {
    background-color: darkgrey;
}

.other-image{
    text-align: center;
}

.title {
    color: white;
    text-align: center;
    text-decoration-color: white;
}

.notes{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1%;
    text-align: center;
    background-color: white;
    color: black;
}